body{
  background-color: #e0edff;
}

h1.jumbotron{
  background-color: #c6d9f4;
  text-align: center;
}

.jumbotron{
  padding-top: 20px;
  padding-bottom: 20px;
}

h3{
  text-align: center;
}

.panel-title{
  background-color: #e0edff;
  padding-top:5px;
  padding-bottom:5px;
}
h4.panel-title{
  text-align: center;
  margin:5px;
  font-weight: bold;
}

p.panel-body{
  font-style: oblique;
}

.bg-about{
  background-color: #cedbed;
}
#profile{
  float:left;
  margin-right:25px;
  height:500px;
}

#profile img{
  width: 300px;
  height: 300px;
}

#profile p{
  text-align: center;
}

#epicodus {
  color:green;
}

#intro {
  padding-left:20px;
  font-size: 14px;
  font-weight: bold;
}

#name{
  color:#6da4f2;
  font-size: 40px;
  font-family: fantasy;
}

#portfolio{
  color:#6da4f2;
  font-size: 40px;
  font-family: fantasy;
}

#readme{
  visibility: hidden;
}

.row a:link{
  color:black;
}

.row a:visited{
  color:black;
}


.col-sm-4:hover{
  background-color:#8bb5ef;
}

@media screen and (min-width: 768px){
  .panel-body{
    height:140px;
  }
}

@media screen and (max-width: 620px){
    #profile{
      float: none;
      height:450px;
    }

    #profile img{
        width: 400px;
        height: 400px;
        display: block;
        margin: auto;
      }

      #profile p{
        text-align: center;
      }

      #readme{
        visibility: visible;
        text-align: center;
        color:#6da4f2;
      }
}
